@charset "utf-8";
/* ----------------Reset Css---------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input{margin: 0;padding: 0;border:0;font-size: 100%;font: inherit;vertical-align: baseline;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{-webkit-text-size-adjust: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
html{overflow-y:scroll;}
body{font-family: "Microsoft yahei",arial, "PingFangSC-Regular", sans-serif; font-size: 14px;color:#000000;min-width: 1200px}
a{font-family: "Microsoft yahei","PingFangSC-Regular";color: #000;text-decoration:none}
a:link,a:visited{color:#000;text-decoration:none;}
a:hover{color:#000;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}
.clear{clear: both;}
.fl{float:left}
.fr{float:right}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix{height:1%}
.db{display:block}
.w1200,.w1201{ width: 1200px; margin: 0 auto; }
.w992{
    width: 992px;
    margin: 0 auto;
}
.hidden{ overflow:hidden; }
/*table中数据一行显示*/
th,td {
    text-align: center;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    vertical-align: middle;
}
th{
    font-weight: 600;
}
.mylabel{
    font-size: 15px;
    font-weight: 700;
    padding: 5px 5px;
}

.breadcrumb li.active::after {
    content: '\f00d';
    display: inline-block;
    position:absolute;
    font-family: FontAwesome;
    font-size: 6px;
    color:#f00a;
}

.h34{
    height: 34px!important;
}
.w320{
    width: 320px!important;
}
/*html { overflow-x: hidden; overflow-y: auto; }*/


.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #222d32;
}

.main-content {
    position: absolute;
    width: 100%;
    padding-left: 230px;
    top: 0;
    right: 0;
}

section.content {
    padding: 0 20px;
}

.sort {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 0 20px;
}
.sort>div>ul{
    border-bottom: 1px dashed #ccc;
}
.sort>div:last-child>ul{
    border: none;
}

.sort li {
    float: left;
    height: 35px;
}

.sort ul li:nth-child(n+2) {
    margin-left: 20px;
}

.sort li a {
    line-height: 35px;
}

.sort ul li:nth-child(1) {
    width: 100px;
    height: 35px;
}

.sort ul li:nth-child(1) span {
    text-align: left;
    line-height: 35px;
    color: #3c3c3c;
}

.main-content>header{
    width: 100%;
    height: 60px;
    background: #1a2226;
}
.main-content>header>ul{
    margin-right: 30px;
    float: right;
}
.main-content>header li{
    float: left;
}
.main-content>header>ul>li>a{
    display: block;
    height: 60px;
    padding: 10px 25px 10px 15px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: #4b646f;

}
.main-content>header>ul>li:last-child{
    position: relative;
}
li.user:hover .a_list{
    display: block;
}

.a_list{
    display: none;
    padding: 5px 0;
    position: absolute;
    right: 0;
    border:1px solid #cccccc;
    border-radius: 3px;
    top: 56px;
    background-color: #fff;
    width: 100%;

}
.a_list li{
    width: 100%;

}
.a_list li:hover{
    background-color: #cccccc;
}
.a_list li>a{
    display: block;
    height: 30px;
    color: #000;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
    text-align: center;

}


th{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently*/
}

.table_td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pageSelect{
    outline: none;
    height: 31px!important;
    font-size: 14px;
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}


.my-link{
    color:#3071A9!important;
}
.noselect_del {

    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently

not supported by any browser */

}


.back,.back>span{
    cursor: pointer;
}

