@charset "utf-8";
/* ----------------Reset Css---------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input{margin: 0;padding: 0;border:0;font-size: 100%;font: inherit;vertical-align: baseline;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{-webkit-text-size-adjust: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
html{overflow-y:scroll;}
body{font-family: "Microsoft yahei",arial, "PingFangSC-Regular", sans-serif; font-size: 14px;color:#000000;min-width: 1200px}
a{font-family: "Microsoft yahei","PingFangSC-Regular";color: #000;text-decoration:none}
a:link,a:visited{color:#000;text-decoration:none;}
a:hover{color:#000;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}
.clear{clear: both;}
.fl{float:left}
.fr{float:right}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix{height:1%}
.db{display:block}
.w1200,.w1201{ width: 1200px; margin: 0 auto; }
.w992{
    width: 992px;
    margin: 0 auto;
}
button{
    outline: none!important;
}
.hidden{ overflow:hidden; }
/*table中数据一行显示*/
th,td {
    text-align: center;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    vertical-align: middle;
}
th{
    font-weight: 600;
}
.mylabel{
    font-size: 15px;
    font-weight: 700;
    padding: 5px 5px;
}

.breadcrumb li.active::after {
    content: '\f00d';
    display: inline-block;
    position:absolute;
    font-family: FontAwesome;
    font-size: 6px;
    color:#f00a;
}

.h34{
    height: 34px!important;
}
.w320{
    width: 320px!important;
}

mr20{
    margin-right: 20px!important;
}
/*html { overflow-x: hidden; overflow-y: auto; }*/


.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #222d32;
}

.main-content {
    position: absolute;
    width: 100%;
    padding-left: 230px;
    top: 0;
    right: 0;
}

section.content {
    padding: 60px 20px 0;
}

.sort {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 0 20px;
}
.sort>div>ul{
    border-bottom: 1px dashed #ccc;
}
.sort>div:last-child>ul{
    border: none;
}

.sort li {
    float: left;
    height: 35px;
}

.sort ul li:nth-child(n+2) {
    margin-left: 20px;
}

.sort li a {
    line-height: 35px;
}

.sort ul li:nth-child(1) {
    width: 100px;
    height: 35px;
}

.sort ul li:nth-child(1) span {
    text-align: left;
    line-height: 35px;
    color: #3c3c3c;
}

.main-content>header{
    position: fixed;
    z-index: 20;
    width: 120%;
    height: 60px;
    background: #1a2226;
}
.main-content>header>ul{
    position: fixed;
    right: 0;
    margin-right: 30px;
    float: right;
}
.main-content>header li{
    float: left;
}
.main-content>header>ul>li>a{
    display: block;
    height: 60px;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: #4b646f;

}
.main-content>header>ul>li:last-child{
    position: relative;
}
li.user:hover .a_list{
    display: block;
}

.a_list{
    display: none;
    padding: 5px 0;
    position: absolute;
    left: 0;
    border:1px solid #cccccc;
    border-radius: 3px;
    top: 56px;
    background-color: #fff;
    width: 100px;

}
.a_list li{
    width: 100%;

}
.a_list li:hover{
    background-color: #cccccc;
}
.a_list li>a{
    display: block;
    height: 30px;
    color: #000;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
    text-align: center;

}


.head .title{
    padding: 0 60px;
}

th{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently*/
}

.table_td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pageSelect{
    outline: none;
    height: 31px!important;
    font-size: 14px;
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}


.my-link{
    cursor: pointer;
    color:#3071A9!important;
}
.noselect_del {

    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently

    not supported by any browser */

}

.top_tree{
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 0 0 10px;
    width:260px;
    text-align: center;
    margin: 0 auto;
  }
  .bottom_tree{
    display: flex;margin-top: 30px;text-align: center;margin: 0 auto;padding: 20px 0
  }
  .tree_child{
    flex:1;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 260px; 
    padding: 0 0 10px;text-align: center;margin: 0 auto;overflow: hidden;
  }



.section2{
    display: none;
}

.section3{
    display: none;
}

.back,.back>span{
    cursor: pointer;
}


.msg_body{
    border: 2px solid #ccc;
    border-radius: 5px;
}

.more li>span:first-child{
    text-align: right!important;
    font-weight: 700;
    margin-right: 10px;
}

/* paging Css */
#paging {
    width: 100%;
    /* margin-top: 60px; */
    text-align: center;
    color: #0099ff;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  #paging .first,
  #paging .last,
  #paging .prev,
  #paging .next,
  #paging .list li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
    padding: 0 10px;
    border: 1px solid #ddd;
    cursor: default;
    border-radius: 4px;
    vertical-align: top;
  }
  #paging .list {
    display: inline-block;
    vertical-align: top;
  }
  #paging .list li {
    width: 40px;
    padding: 0;
    text-align: center;
  }
  #paging .list li.cur {
    color: #fff;
    background-color: #0099ff;
    border-color: #428bca;
  }
  #paging .go {
    display: none;
    position: relative;
    max-width: 160px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  #paging .go input {
    float: left;
    width: 70%;
    height: 28px;
    line-height: 30px;
    padding: 0 6px;
    font-size: 16px;
    box-sizing: border-box;
    color: #0099ff;
  }
  #paging .go button {
    float: left;
    width: 30%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #0099ff;
    border-radius: 0 4px 4px 0;
  }
  #paging .disable {
    color: #bfbfbf;
    cursor: not-allowed;
  }
  
   #paging input::-webkit-input-placeholder { color: #bfbfbf; }
  #paging input::-moz-input-placeholder { color: #bfbfbf; }
  #paging input:-ms-input-placeholder { color: #bfbfbf; } 
  
/* paging Css */