<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link href="css/style.css" media="screen" rel="stylesheet">

    <!-- build:css  /static/css/_Base.css -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/sidebar-menu.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/toastr.min.css" rel="stylesheet" />
    <!-- endbuild -->
<!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->



</head>
<body>
<div id="particles-js">

  <!--登录页面-->
  <div class="login logindiv">
    <div class="login-top">
      登录
    </div>
    {% csrf_token %}
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/name.png"/></div>
      <div class="login-center-input" style="position: relative">
        <input  type="text" name="" id="username" value="" tabindex="36760" autocomplete="off" placeholder="请输入您的用户名/邮箱" onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的用户名/邮箱'"/>

        <div class="input-group-btn" style="position: absolute;top: 0;right: 31px;z-index: 100000;">
          <button id="username_caret" type="button" style="height: 30px;background:rgba(0,0,0,.0);box-shadow: none;outline: none;border: 0" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="username_tip dropdown-menu dropdown-menu-right" style="width: 230px;top: 28px;right: -32px;">
            <li style="padding: 10px;font-size: 16px;cursor: pointer">admin</li>
          </ul>
        </div>

        <div class="login-center-input-text">用户名/邮箱</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/password.png"/></div>
      <div class="login-center-input">
        <input type="password" id="password" name="" tabindex="36761" value="" placeholder="请输入您的密码"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的密码'"/>
        <div class="login-center-input-text">密码</div>
      </div>
    </div>
    <div class="login-center yzm clearfix" style="display:none">
      <div class="login-center-img"><img src="/static/images/login_captcha.png"/></div>
      <div class="login-center-input">
        <input style="width: 70%;float: left" type="text" id="login_captcha_input" name="" value=""
               placeholder="请输入验证码"
               tabindex="36762" 
               onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入验证码'"/>
        <div class="login-center-input-text">验证码</div>

        <canvas id="mycanvas" style="width: 30%;float: left;height: 100%;" width='90' height='40'>
          您的浏览器不支持canvas，请换个浏览器试试~
        </canvas>
      </div>


    </div>
    <div class="login-center clearfix">
      <div class="login-center-img">
        <input type="checkbox" name="" tabindex="36763" style="width: 15px;height: 15px;margin-top: 3px">
      </div>
      <div class=" fl" style="line-height: 30px">
        记住用户
      </div>

      <div class="my-link fr"  style="line-height: 30px">
          <a href="javascript:;" style="color:#3071A9" onclick="showGetBackPassword_Modal()">忘记密码</a>
      </div>
    </div>
    <div class="login-button" onclick="login()" style="margin-top: 20px">
      登录
    </div>
    <div class="login-button" onclick="ChangeRegister()" style="margin-top: 20px">
      去注册
    </div>
  </div>
  <!--登录页面结束-->


  <!--注册页面-->
  <div class="login registerdiv" style="display: none">
    <div class="login-top">
      注册
    </div>
    {% csrf_token %}
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/name.png"/></div>
      <div class="login-center-input">
        <input type="text" name="" id="reg_username" value="" placeholder="请输入您的用户名"
               onfocus="this.placeholder=''"
               tabindex="36764" 
               onblur="this.placeholder='请输入您的用户名'" data-bind="#reg_username_pop" data-msg="请输入您的用户名"/>
        <div class="login-center-input-text">用户名</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/email.png"/></div>
      <div class="login-center-input">
        <input type="email" name="" id="reg_email" value="" tabindex="36765"  placeholder="请输入您的邮箱" onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的邮箱'" data-bind="#reg_email_pop" data-msg="请输入您的邮箱"/>
        <div class="login-center-input-text">邮箱</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/password.png"/></div>
      <div class="login-center-input">
        <input type="password" id="reg_password" tabindex="36766"  name="" value="" placeholder="请输入您的密码"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的密码'" data-bind="#reg_password_pop" data-msg="请输入您的密码"/>
        <div class="login-center-input-text">密码</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/static/images/password.png"/></div>
      <div class="login-center-input">
        <input type="password" id="reg_password_again" tabindex="36767" name="" value="" placeholder="请再次输入您的密码"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='请再次输入您的密码'" data-bind="#reg_password_again_pop" data-msg="两次密码不一致"/>
        <div class="login-center-input-text">密码</div>
      </div>
    </div>
    <div class="login-button" onclick="GoRegister()">
      注册
    </div>

    <div class="login-button" onclick="ChangeLogin()" style="margin-top: 20px">
      去登录
    </div>
  </div>
  <!--注册页面-->


  <div class="sk-rotating-plane"></div>
</div>


<!-- 找回密码弹出框 -->
<div class="modal fade" id="GetBackPasswordModal" style="z-index:99999999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="closeModal('#GetBackPasswordModal')" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title h4" style="text-align: center">找回密码</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="getbackpassword_email" class="mylabel">邮箱</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input type="email"  class="form-control" id="getbackpassword_email"
                placeholder="请输入邮箱找回密码">
            </div>
          </div>
          <div class="form-group">
            <label for="getbackpassword_code" class="mylabel">验证码</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope-square fa-fw"></i></span>
              <div style="display:flex">
                <input type="text" style="flex:1" auto-complete="off" class="form-control"
                  id="getbackpassword_code" placeholder="请输入邮箱验证码">
                <button type="button" id="getpassword_btn" class="btn btn-success" onclick="getBackPassword()">获取验证码</button>
              </div>
            </div>
          </div>
          <div class="setPassword" style="display: none">
              <div class=" form-group">
                  <label for="setpassword1" class="mylabel">新密码</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input type="password" auto-complete="off" class="form-control" placeholder="请输入重新设置后的密码"
                    id="setpassword1">
                  </div>
              </div>
              <div class=" form-group">
                  <label for="setpassword1" class="mylabel">重复密码</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input type="password" auto-complete="off" class="form-control" placeholder="请再次输入重新设置后的密码"
                    id="setpassword2">
                  </div>
              </div>
              <button class="btn btn-success" type="button" onclick="setPassword()">设置新密码</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="closeModal('#GetBackPasswordModal')">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 找回密码弹出框 -->


<!-- 提示框 -->
<div id='EmailModal' class=" modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" onclick="CloseModal()" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title h2" id="myModalLabel" style="text-align: center">邮箱验证</h2>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" id="captcha" name="" value="" placeholder="请输入邮箱验证码"
               onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入邮箱验证码'"/>
        <div style="margin-top: 20px;width: 100%">
          <div style="margin: 0 auto;text-align: center">
            <input onclick="Get_Captcha()" type="button" class="btn btn-default left" value="重新获取验证码">
            <input onclick="Register()" type="button" class="btn btn btn-success right" value="确认注册">
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- 提示框 -->

<!-- build:js /static/js/_login.js -->
<script src="js/jquery.min.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/conf.js"></script>
<script src="js/bprotocol.js"></script>
<script src="js/login.js"></script>
<!-- endbuild -->

</body>
</html>
